@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Kanit:ital,wght@1,400&family=Ubuntu&display=swap');

/* font-family: 'Fascinate', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body {
    margin: 0;
    background-color: black;
    height: 100vh;
    background: url(/images/background2.jpg);
}

.logo {
    display: block;
    margin: auto;
    padding: 5px;
    height: 5.5rem;
    width: 5.5rem;
    /* border: 1px solid red; */
}

h1 {
    font-size: 3rem;
    text-align: center;
    /* border: 1px solid yellow; */
    font-family: 'Fascinate', cursive;
    margin: 5px;
}

.container {
    padding: 1rem 2rem;
    max-width: 70%;
    height: 55vh;
    margin: auto;
    border: 3px solid black;
    margin-bottom: 20px;
    overflow-y: auto;
    border-radius: 12px;
    backdrop-filter: blur(2px);
    backdrop-filter: hue-rotate(180deg);
    /* backdrop-filter: brightness(0.6); */
}

.container::-webkit-scrollbar {
    display: none;
}

.message {
    max-width: 30%;
    background-color: #f2f3f4;
    padding: 7px 10px;
    border-radius: 22px;
    margin-top: 1.5rem;
    width: 35%;
    border: 2px solid black;
    font-size: 1.2rem;
    font-family: 'Kanit', sans-serif;
}

.message:hover {
    /* cursor: pointer; */
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
}

.messageCenter {
    max-width: 30%;
    /* background-color: #f2f3f4; */
    padding: 8px 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 1rem;
    width: 25%;
    color: rgb(33, 27, 27);
    /* border: 1px solid black; */
    font-size: 1.2rem;
    font-weight: bold;
}

.right {
    float: right;
    clear: both;
}

.left {
    float: left;
    clear: both;
}

.center {
    display: block;
    margin: 5px auto;
    text-align: center;
    clear: both;
}

#send-container {
    max-width: 70%;
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}

#messageInp {
    height: 40px;
    border-radius: 30px;
    border: 2px solid black;
    width: 85%;
    padding: 2px 4px;
    font-size: 1.1rem;
    background-color: #f2f3f4;
}


.btn {
    cursor: pointer;
    /* border: 2px solid #f2f3f4; */
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    width: 10%;
    height: 40px;
    margin: 0 5px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
}

footer {
    margin-top: 20px;
    bottom: 0;
    color: white;
    text-align: center;
    background-color: black;
}